{% extends "layout.html" %}

{% block sheetcontent %}
<link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block content %}
    <div class="center">
        <h1>Sign up</h1>
        <form method="post" action="">
            {{ form.hidden_tag() }}

            <div class="txt_field">
                {{ form.password }}
            </div>

            <div class="invalid">
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div>

			<div class="txt_field">
                {{ form.confirm_password }}
            </div>

            <div class="invalid">
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div>

            <div class="signup_button">
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock %}